name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build
    runs-on: windows-latest
  
    steps:

    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Install dependencies
      run: dotnet restore

    - name: Setup MSBuild Path
      uses: microsoft/setup-msbuild@v1.3
      env:
        ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    - name: Build Debug
      run: msbuild UserInterface\UserInterface.csproj -property:Configuration=debug /restore /t:Rebuild

    - name: Build ETW Manifest
      run: msbuild ETWManifest\Support.GenerateETWManifest.csproj -property:Configuration=debug /restore /t:Rebuild

    - name: Save Build WCA
      uses: actions/upload-artifact@v4
      with:
        name: build-WCA
        path: WCA\bin\debug\net9.0-windows\
